body {
  font-family: 'Share Tech Mono', monospace;
  color: chartreuse;
  background-color: lightslategray;
}
a {
  color: chartreuse;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  margin-bottom: 50px;  
}

.navbar-brand {
  color: chartreuse;
}

.search-result-div {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}

.search-history-element {
  margin: 0px 0px;
}

.search-history-element {
  border: 1px solid black;
}

.search-history-element:hover,
.search-result-span:hover {
  cursor: pointer;
  text-transform: uppercase;
}